// 去除左上角标题，作者，标签等
// .page .page-title {
//     display: none;
// }

// 左侧边栏标题字体大小样式
.sidebar-heading span{
    font-size: 1.1em;
    font-weight: bold;

}
.sidebar-heading.open span{
    font-weight: bold;
}